site_name: "Open Ecosystem Challenges"
repo_name: "View on GitHub"
repo_url: "https://github.com/dynatrace-oss/open-ecosystem-challenges"
docs_dir: docs
nav:
  - 'Overview': index.md
  - 'How to Play':
      - start-a-challenge.md
      - verification.md
  - 'Adventures': '*include ./adventures/*/mkdocs.yaml'
plugins:
  - monorepo
  - search
theme:
  name: material
  features:
    - content.code.copy
  palette:
    # Palette toggle for automatic mode
    - media: "(prefers-color-scheme)"
      toggle:
        icon: material/brightness-auto
        name: Switch to light mode

    # Palette toggle for light mode
    - media: "(prefers-color-scheme: light)"
      scheme: default
      toggle:
        icon: material/brightness-7
        name: Switch to dark mode

    # Palette toggle for dark mode
    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      toggle:
        icon: material/brightness-4
        name: Switch to system preference
markdown_extensions:
- attr_list
- toc:
    permalink: '#'
- md_in_html
- admonition
- pymdownx.details
- pymdownx.superfences
- pymdownx.snippets:
    base_path: ["docs"]
